.data-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.top-container {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    background-image: url("/top_background.png");
    background-size: cover;
    background-position: center;
}

.smalldata, .dataselect, .filters {
    flex: 1;
    padding: 0.5rem;
    color: white;
    max-height: 100vh;
}

.smalldata {
    background-color: rgba(255, 255, 0, 0.2);
    min-width: 50vw;
    max-width: 50vw;
}

.dataselect {
    background-color: rgba(255, 0, 255, 0.2);
    overflow-y: auto;
    min-width: 25vw;
    max-width: 25vw
}
.dataselect img {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}
.dataselect ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dataselect li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.filters {
    background-color: rgba(0, 255, 255, 0.2);
    min-width: 25vw;
    max-width: 25vw;
}

.bigdata {
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    padding: 1rem;
    background-image: url("/bottom_background.png");
    background-size: cover;
    background-position: center;
}