.data-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.top-container {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    background-image: url("/top_background.png");
    background-size: cover;
    background-position: center;
}

.smalldata, .dataselect {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
}

.bigdata {
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    background-image: url("/bottom_background.png");
    background-size: cover;
    background-position: center;
}